* {
    --background-color: rgb(20,20,20);
    --background-color-secondary: rgb(0,0,0);

    --primary-color: rgb(255,89,00);
    --secondary-color: rgb(94,00,255);
    --primary-color-dark: rgb(127,44,00);
    --secondary-color-dark: rgb(47,00,127);
    --primary-color-neutral: rgb(100,100,100);

    
    --dark-color: rgb(30,30,30);
    --dark-color-secondary: rgb(20,20,20);

    --text-color: rgb(200,200,200);
}

@font-face {
    font-family: "Falcon Punch";
    src: url("../fonts/falconpunchhalf.ttf") format("truetype");
}

@font-face {
    font-family: "Olivers Barney";
    src: url("../fonts/Olivers Barney.otf") format("opentype");
}

body {
    background: var(--background-color);

    padding:0%;
    margin: 0%;

    color: var(--text-color);

    cursor: url("../images/MainCursor.svg"), auto;

    font-family: sans-serif;
}

.inlink {
    cursor: url("../images/SunBirdDesignsLogo.svg"), auto;
}

.cookiesprompt {
    position: fixed;
    height: 30%;
    width:100%;

    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
}

button, button::after {
    border-radius: 5em;

    transition: .5s;
}
button {
    margin: 5vmin;

    font-family: "Olivers Barney";
    color: #ffffff;

    border: 5px solid var(--primary-color);
    background: var(--dark-color);
    
    position:relative;
}
button:hover {
    background: rgba(0,0,0,0);
}

button::after {
    content:"";

    border:none;

    padding:none;

    width: 100%;
    height: 100%;
    
    position: absolute;
    z-index:-1;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
}

.paneldesc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding-inline: auto;
}

.paneldesc > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3%;

    font-size:1.5em;
}

#header {
    height: auto;
    padding:none;
    width:auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    top:0;

    background: linear-gradient(45deg, var(--dark-color), var(--dark-color-secondary), var(--dark-color), var(--dark-color-secondary), var(--dark-color), var(--dark-color-secondary), var(--dark-color), var(--dark-color-secondary), var(--dark-color), var(--dark-color-secondary));

    z-index: 1000;
}

#header > .homebutton {
    height: 5vh;
    aspect-ratio: 1;
}

#header > ul > li > button {
    border-width: 2px;
    height: 3em;
    width:12em;
    aspect-ratio: 1;
}

#header > ul {
    display: flex;
    flex-direction: row;
    justify-self: right;
    align-self: right;

    list-style: none;

    justify-content: space-between;
    align-items: center;
}

#header > ul:not(:hover) > li > button.selected {
    background: rgba(0,0,0,0);
}

.logotext {
    font-family:"Falcon Punch";

    color:transparent;
    
    background-clip: text;
    background-image: linear-gradient(90deg,var(--primary-color), var(--secondary-color));
}

.inline {
    display: flex;
    flex: row;
    justify-content: space-around;
    align-items: center;
}