#film-assignment {
    aspect-ratio: 1920/1080;
    width: 100%;

    margin: 0;
    padding: 0;
}

.header {
    width:100vw;
    height:100vh;
    margin:none;
    padding:none;
    border:none;
}

.titleandbutton {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-around;
    width: 40%
}

.itemdescription {
    padding: 5%;
    width:50%
}


canvas {
    background-color: #ff00ff;
}