#film-assignment {
    aspect-ratio: 1920/1080;
    width: 50%;

    margin: 0;
    padding: 0;

}

.header {
    width:100vw;
    height:100vh;
    margin:none;
    padding:none;
    border:none;
}

.titleandbutton {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}

.itemdescription {
    position: relative;
    padding: 5%;

    padding-inline:auto;

    height: 50em;
    
    margin-block: 30vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#movietext > p {
    width: 50%;
}

button {
    border:none;
    aspect-ratio: 3;
    font-size:1em;
}

.itemdescription::before {
    content:"";
    position: absolute;
    top:0;
    left:0;

    width: 100%;
    height: 100%;

    background:  linear-gradient(90deg, var(--primary-color-dark), var(--secondary-color-dark));

    z-index: -1;

    transform: skew(0deg,5deg);

    filter:drop-shadow(10px 10px 10px #000000);
}

#safetyposter {
    width: 50%;
    aspect-ratio: 945/1181;
}