.bento {
    display: flex;
    flex-wrap: none;

    flex-grow: none;
    flex-shrink: none;

    justify-content: center;
    align-items: top;
    overflow-x:hidden;
    overflow-y: scroll;
}

.bento {
    width: auto;
    padding:none;
    margin: none;

    background: var(--primary-dark);
}

.bento > div {
    width: 49%;
    border-radius: 5%;
    margin:1%;

    background: var(--dark-color);
}

.bento > div > img{
    width: 99%;
}

.boxdesc {
    color: var(--text-color)
}