.bento {
    display: flex;
    flex-wrap: none;

    flex-grow: none;
    flex-shrink: none;

    justify-content: center;
    align-items: top;
    overflow-x:hidden;
    overflow-y: scroll;
}

.bento {
    width: auto;
    padding:none;
    margin: none;

    background: var(--primary-dark);
}

.bento > div {
    width: 49%;
}

.bento > div > * {
    border-radius: 5%;

    width:98%;
    margin:1%;
}